@import "./iclud/cssinc.css";
@import "./iclud/_header.css";
@import "./iclud/menu.css";
@import "./iclud/tasvirasli.css";
@import "./iclud/dore1.css";
@import "./iclud/team.css";
:root {
  --p-color: rgb(4, 158, 158);
  --s-color: rgb(241, 216, 233);
  --t-color: rgb(251, 255, 0);
}
.bc-end{
  background-color: rgb(5, 5, 59);
  margin-top: 100px;
  color: aliceblue;
  padding: 25px;
}
.kh a:hover{
color: yellow;
}
.sh{
  color: rgb(83, 255, 255);
}