:root {
    --p-color: rgb(4, 158, 158);
    --s-color: rgb(241, 216, 233);
    --t-color: rgb(251, 255, 0);
  }
  /* !header */
  .container-fluid-custom{
    background-color:var(--p-color);
    color: white;
    height: 40px;
  }
  .contact .material-icons{
    padding-right: 18px;
    padding-left: 1px;
  }
  .contact i{
    font-size: 18px;
    color: var(--t-color);
    vertical-align: -4px;
  }
  .contact{
    padding-top: 7px;
  }
  .contact-left i{
  padding-top: 7px;
    padding-right: 5px;
    color: white;
    float: left; font-size: 20px;
  }
  @media screen and (max-width:800px)  {
  .hidden-res{
    display: none;
  }
  }
  