
.s2{
    padding: 8px;
    padding-bottom: 20px;
   
  box-shadow: 1px 1px 6px rgb(0, 0, 0);
   color: white;
  border-radius: 0px;
  animation-name: r;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  }
  
  @keyframes r{
    0%{
        background-color: rgb(132, 3, 236);
    }
    25%{
        background-color: rgb(0, 204, 255);
  
    }
    50%{
        background-color: rgb(43, 75, 255);
    }
    75%{
      
    }
    100%{
       
        background-color: rgb(132, 3, 236);;
    }
  }
  
  .d1{
    margin-top: 40px;
  }
  .d2{
    background-color: rgb(255, 244, 224);
    line-height: 40px;
    text-align: justify;
    height: auto;
    padding: 25px;
  }
  .s3{
    padding:10px;
    border-bottom: 3px solid rgb(245, 0, 245)  ;
    border-top: 3px solid rgb(245, 0, 245)  ;
    border-radius: 2px;
   /* background-color: darkcyan; */
    /* box-shadow: 1px 0px 6px rgb(0, 0, 0); */
    color: rgb(0, 0, 0)
  
  }
  @media screen and (max-width:768px){
    .im{
   display: none;   
    }
  }
  .bt{
    border: none;
    font-size: 16px;
    background-color: yellowgreen;
    padding: 5px;
    cursor: pointer;
  }
  