:root {
    --p-color: rgb(4, 158, 158);
    --s-color: rgb(241, 216, 233);
    --t-color: rgb(251, 255, 0);
  }
  /* !menu */
  .nav{
    background-color: rgb(33, 0, 87);
    text-align: center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 999;
  }
  .menu li{
    display: inline;
    /* background-color: rgb(158, 231, 231); */
    padding-left: 10px;
    padding-right: 10px;
    
    vertical-align: -2px;    
  
  }
  a {
    color: aliceblue;
  
  }
  a:hover{
    color: aqua;
  }
  
  
  
  .list{
    position: relative;
    
  }
  .submenu li{
    display: block;
    
    background-color:rgb(33, 0, 87);
    padding-bottom: 10px;
    padding-top: 5px;
    
    
   
  }
  .submenu{
    position: absolute;
    width: 200%;
    right: 0px;
    /* top: 35px; */
    display: none;
   box-shadow: 1px 1px 5px white;
    
  }
  .list:hover .submenu{
    display: block  ;
    
  }
  .material-icons{
    vertical-align: -9px;
  }
  
  .menu-dash{
    display: none;
  
  }
  
  @media screen and (max-width:700px){
  .nav li a{
    display: none;
  }
  .submenu li{
    display: none;
  }
  .menu-dash{
    display: block;
   
    float: left;
  }
  .responsive{
    position: relative;
  }
  .responsive li a{
    
    float: none;
    display: block;
  }
  .responsive i{
    position: absolute;
    top: 10px;
    left: 10px;
  }
  }