:root {
    --p-color: rgb(4, 158, 158);
    --s-color: rgb(241, 216, 233);
    --t-color: rgb(251, 255, 0);
  }
  .h{
    padding: 0;
    position: relative;
  }
  .img-h{
    height: 700px;
   box-shadow: 2px 4px 6px rgb(78, 78, 0); 
    filter: opacity(0.95);
  /* position: absolute; */
  }
  .s{
    position: absolute;
    right: 0;
    top:0;
    width: 100%;
    height: 100px;
    padding: 20px;
    /* background-color: rgba(255, 255, 255, 0.301); */
    margin-top: 150px;
    color:var(--t-color);
    text-align: center;
    font-size: 50px;
    text-shadow: 6px 2px 9px rgb(0, 0, 0);
  }
  @media screen and (max-width:500px){
    .s{
      font-size: 30px;
    }
    .img-h{
      height: 400px;
    }
  }






