.bc{
    background-image: url(../img/pattern-2054297_1920.jpg);
    position: relative;
    
    height: auto;
  }
  .img-t{
    height: auto;
    
  }
  
  .box-d{
    width: 400px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px black;
    position: absolute;
    top: 80%;
    
    text-align: center;
    padding: 20px;
    color: rgb(1, 1, 124);
  } 
  @media screen and(max-widtg:450px){
    .box-d{
      width: 300px;
    }
  }